.homepage {
  width: 100vw;
  height: 100vh;
  padding: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #98989854;
  background-blend-mode: multiply, multiply;
  background-image: url(/pokemon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 230%;
}

.homepage__section {
  text-align: center;
  padding-bottom: 6em;
}

.homepage__header {
  margin-bottom: 5em;
}
.homepage__img {
  margin: auto;
}

.homepage_title {
  font-size: 3.5em;
  color: #fe1936;
  text-shadow: 3px 3px 5px white;
}

.home_mensanger {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-shadow: 3px 2px 4px black;
}
.homepage_form {
  margin: 3em;
  font-size: 1.5em;
}

.homepage_input {
  padding: 12px;
  box-shadow: 0 2px 1px 0;
}
.homepage_btn {
  font-size: 1em;
  background-color: #d93f3f;
  color: white;
  padding: 0.6em 1.6em;
}
.homepage_footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

@media screen and (max-width: 640px) {
  .homepage__section {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 0.7rem;
  }

  .homepage_input {
    padding: 0.7em;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 510px) {
    .homepage_btn {
      margin: 1em;
    }
  }
}
