.pokeid-content {
  width: 100vw;
}

.pokeid_header {
  position: relative;
}

.pokeid_img_title {
  position: absolute;
  width: 36%;
  left: 8%;
  top: 20%;
}
.pokeid_img_fondo {
  width: 100vw;
}

.pokeid__section {
  width: 70%;
  max-width: 68.75em;
  margin: auto;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}

.pokeid__header {
  padding: 4px;
  margin: 0;
  width: 100%;
  position: relative;
}

.div__header {
  height: 100%;
  /* background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  ); */
  border-radius: 4px 4px 0px 0px;
}
.icon-flecha {
  transform: translate(0, 20%);
  color: rgb(243, 239, 239);
  text-shadow: 2px 2px 4px black;
}
.card__header_img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}

.div__section-primary {
  display: grid;
  justify-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.pokeid__id {
  padding: 0 1rem;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  line-height: normal;
}

.pokeid__ul_caract {
  display: flex;
  gap: 2em;
}

.pokeid__caract_span {
  font-size: 0.8em;
}

.pokeid__caract_num {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.pokeid-info {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.pokeid__info__section {
  width: 50%;
}
.pokeid__info_title {
  text-align: center;
  margin-bottom: 0.7em;
  color: #302f2f;
  font-size: 1.3em;
  font-weight: bolder;
}
.pokeid__info_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.pokeid__info_li {
  padding: 0.5em 1rem;
  font-weight: 700;
  text-transform: capitalize;
  width: 50%;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
}

.pokeid_stat {
  width: 100%;
  margin-top: 3em;
}

.pokeid__move {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1.3em;
}

@media screen and (max-width: 760px) {
  .pokeid__section {
    width: 90%;
  }

  .div__section-primary {
    width: 90%;
  }
  .pokeid-info {
    display: grid;
    justify-items: center;
  }
  .pokeid__info__section {
    width: 100%;
  }
}
