.pokedex__article {
  width: 100vw;
}

.header {
  position: relative;
}

.header__img--title {
  position: absolute;
  width: 36%;
  left: 8%;
  top: 20%;
}

.section {
  width: 80%;
  margin: auto;
}

.pokedex__copy {
  font-size: 1.3rem;
}
.pokedex__span--name {
  color: #fe1936;
  font-weight: bold;
  padding-right: 0.6rem;
  font-size: 1.6rem;
}

.content__form {
  display: flex;
  margin: 3rem 0;
  justify-content: space-between;
}

.form {
  width: 55%;
  display: flex;
}
.form__input {
  flex-grow: 1;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.542);
}
.form__btn {
  font-size: 1.3rem;
  background-color: #d93f3f;
  color: white;
  padding: 0.6rem 2.3rem;
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}

.page {
  display: flex;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
  cursor: pointer;
}

.page__list {
  background-color: #d93f3f89;
  color: white;
  padding: 1em;
  border-radius: 10px;
  font-weight: bolder;
}
.page__list:hover {
  background-color: rgba(35, 114, 35, 0.762);
}
.page__list--active {
  background-color: #d93f3f;
}
.btn__page {
  height: 100%;
  font-size: 3rem;
  color: #d93f3f;
  font-weight: bold;
  background-color: transparent;
}

@media screen and (max-width: 760px) {
  .content__form {
    flex-direction: column;
  }
  .form {
    width: 100%;
    margin-bottom: 1em;
  }

  @media screen and (max-width: 375px) {
    .pokedex__span--name {
      display: block;
    }
    .pokedex__copy {
      text-align: center;
    }
    .form__btn {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }
  }
}
